.container
  .row
    .col-xs-12
      h1 Push Notification Demo
      h3 for Firefox OS 

  .row.js-steps.js-step-0
    .col-xs-12
      form.js-form-ffpushinstruction.form-horizontal
        fieldset
          legend Install the Push Demo app

          p
            span Install&#32;
            a(href="https://github.com/coolaj86/firefox-os-push-notification-demo", target="_ffpushapp") Push Demo
            span &#32;on your Firefox OS device.

          div.col-sm-3.col-md-2.pull-right
            input.btn.btn-primary.form-control(type="submit" value="Next") 

  .row.js-steps.js-step-1
    .col-xs-12
      form.js-form-ffpushid.form-horizontal
        fieldset
          legend Enter your Registration ID

          div
            label.control-label Registration ID
            input.form-control(type="text" name="friendly-id")
            .help-block The ID will be something silly, like 'tricky-chicken-42'

          div.col-sm-3.col-md-2.pull-right
            input.btn.btn-primary.form-control(type="submit" value="Next")

  .row.js-steps.js-step-2
    .col-xs-12
      form.js-form-ffpushdata.form-horizontal
        fieldset
          legend Enter the data you would like to retrieve on push

          div
            label.control-label Version
            input.form-control(name="version" type="number" min="0" max="1000" value="0")
          div
            label.control-label Data
            textarea.form-control(type="text" rows="5" name="data").
              { "foo": "bar"
              , "baz": 42
              , "ts": null
              }
            .help-block Generally you'd want this to be json

          h3 cURL Push Example
          .js-steps.js-push-example
            pre
              code

          div.col-sm-3.col-md-2.pull-right
            input.btn.btn-primary.form-control(type="submit" value="Send Push") 

  .row.js-steps.js-console
    .col-xs-12
      pre
        code
          .js-console-data
